In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, roc_curve, auc, roc_auc_score
from sklearn.impute import SimpleImputer

In [2]:
data = pd.read_csv('titanic-2.csv')

In [3]:
age_imputer=SimpleImputer(strategy='mean')
data['Age']=age_imputer.fit_transform(data[['Age']])

In [4]:
label_encoder = LabelEncoder()
data['Sex'] =label_encoder.fit_transform(data['Sex'])
data['Embarked'] =label_encoder.fit_transform(data['Embarked'])

In [5]:
embarked_imputer=SimpleImputer(strategy='most_frequent')
data['Embarked']=embarked_imputer.fit_transform(data[['Embarked']])

In [6]:
data = data.drop(['Name','Ticket','Cabin'],axis=1)

In [7]:
data

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,1,22.000000,1,0,7.2500,2
1,2,1,1,0,38.000000,1,0,71.2833,0
2,3,1,3,0,26.000000,0,0,7.9250,2
3,4,1,1,0,35.000000,1,0,53.1000,2
4,5,0,3,1,35.000000,0,0,8.0500,2
...,...,...,...,...,...,...,...,...,...
886,887,0,2,1,27.000000,0,0,13.0000,2
887,888,1,1,0,19.000000,0,0,30.0000,2
888,889,0,3,0,29.699118,1,2,23.4500,2
889,890,1,1,1,26.000000,0,0,30.0000,0
890,891,0,3,1,32.000000,0,0,7.7500,1

In [8]:
X = data.drop('Survived',axis=1)
Y = data['Survived']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [10]:
clf = DecisionTreeClassifier(random_state=42,criterion='gini',max_leaf_nodes=15,max_depth=10,splitter='random',min_samples_split=5)

In [11]:
k=5
cv_score=cross_val_score(clf,X,Y, cv=k)

In [12]:
cv_score

array([0.82122905, 0.80898876, 0.81460674, 0.81460674, 0.81460674])

In [13]:
cv_score.mean()

np.float64(0.8148076078086749)

In [14]:
cv_score.std()

np.float64(0.003878528274603705)